.foto{
    border-radius: 50%;
}

.corBorda{
    background-color: rgb(255, 255, 255);
}

.cor{
    border-color: black ;
    color: black;
    border-style: solid;
}


.aa li a:hover{
    color: rgb(255, 215, 167);
}

.cor1 button:hover{
    background-color: black;
    border-color: black;
}

.centro{
    text-align: center;
    color: black;
}

.justificado{
    text-align: justify;
    color: black    ;
}
.tamanho{
    height: 520px;
}

.footer{
    background-color: white;  
    height: 100px;
    text-align: center;
}